name: feature_engineering_unit_test
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
      - integration
    paths:
      - src/workshop/core/data_engineering/*

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: check out repo
        uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade build
          python -m pip install --upgrade twine
      - name: AZ Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS_YUENCHE }} # SETUP: replace MY_AZURE_CREDENTIALS with your own secret name    
      - name: Install AZ ML and tools
        run: | # SETUP line 33 to point to your own AML workspace
          az extension add -n ml -y
          az configure --defaults group=mtcs-ezmlops-rg workspace=ycmlops9aml location=westeurope
      - name: Run Feature Engineering
        uses: ./.github/actions/aml-job-create
        with:
          jobFile: src/workshop/core/data_engineering/feature_engineering.yml

